st/st/st
st/st/*.o
st/st/config.old.h
config/.config/systemd/user/*.wants
slock/slock/*.o
slock/slock/slock
config/.config/nvim/plugged
local/.local/share/nvim/*
local/.local/bin
local/.local/lib
home/.doom.d/.mypy_cache
home/.doom.d/custom.el
